In [1]:
#Import Library
import pandas as pd 
import numpy as np 
import pickle

In [2]:
with open('model_scaler.pkl', 'rb') as file_1:
 scaler = pickle.load(file_1)

In [3]:
with open('model_pca.pkl', 'rb') as file_2:
 pca = pickle.load(file_2)

In [4]:
with open('km.pkl', 'rb') as file_3:
 km = pickle.load(file_3)

In [17]:
df_inf= {
    'CUST_ID':60.0000,
    'BALANCE':440.613643,
    'BALANCE_FREQUENCY':0.875000,
    'PURCHASES':1150.0,
    'ONEOFF_PURCHASES': 306.0,
    'INSTALLMENTS_PURCHASES':98.07,
    'CASH_ADVANCE':2904.232221	,
    'PURCHASES_FREQUENCY':0.125    ,
    'ONEOFF_PURCHASES_FREQUENCY':0.125000	,
    'PURCHASES_INSTALLMENTS_FREQUENCY':0.454545,
    'CASH_ADVANCE_FREQUENCY':0.545455,
    'CASH_ADVANCE_TRX':10,
    'PURCHASES_TRX':8,
    'CREDIT_LIMIT':12000.0,
    'PAYMENTS':3029.380326,
    'MINIMUM_PAYMENTS':287.994171, 
    'PRC_FULL_PAYMENT':0.000,
    
}
df_inf = pd.DataFrame([df_inf])
df_inf

,CUST_ID,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,60.0,440.613643,0.875,1150.0,306.0,98.07,2904.232221,0.125,0.125,0.454545,0.545455,10,8,12000.0,3029.380326,287.994171,0.0

In [18]:
# scaler
df_scaled = scaler.transform(df_inf)

# reduce PCA
df_pca = pca.transform(df_scaled)

# model Kmeans
pred = km.predict(df_pca)

# tambahkan kolom cluster
df_inf['cluster'] = pred

In [19]:
print('Credit User ini termasuk pada CLUSTER:', round(pred[0],2))

Credit User ini termasuk pada CLUSTER: 0